/* Body */

body {
    background-image: url("images/backgrounds/sakura.png");
    
}

/* Page Heading */

#nav {
    background-color: pink;
    height: 80px;
}
.navbar-header{
    display: flex;
}

.logo {
    padding: 15px 15px;
    flex-grow: 3;

}

#logo {
    width: 80%;

}

/* Page Container */

.container {
    background-image: url("images/backgrounds/sakura.png");
    background-repeat: repeat repeat;
    background-attachment: fixed;
    padding-top: 70px;
}

/* About Section */

#about {
    background-color: purple;
}
.img-right {
    background-color: lightblue;
}

/* About Section Responsive */

@media screen and (min-width: 992px) {
    .about {
        margin-top: 300px;
    }
}
@media screen and (max-width: 992px) {
    #about {
        margin-top: 200px;
    }
}

/* History Section */

#history {
    background-color: gold;
}
.img-left {
    background-color: red;
}

/* History Section Responsive */

@media screen and (min-width: 992px) {
    .history {
        margin-bottom: 250px;
    }
}
@media screen and (max-width: 992px) {
    #history {
        margin-bottom: 250px;
    }
}


/* Store Section */

.store {
    background-color: green;
}
h1, h2, p {
    text-align: center;
}

/* Contact Section */

.contact {
    background-color: pink;
    margin-top: 200px;
}
